.white-well
  h4 实习工作表
  .alert.alert-info
    strong 实习申报阶段
    |  是您的用户操作阶段，请按照工作表的计划进行您的操作
  table.table.table-bordered.table-striped.table-hover
    colgroup
      col.span2
      col.span2
      col.span8
    thead
      tr
        th 阶段
        th 时间
        th 工作内容
    tbody
      tr
        td 职位准备
        td 2014-02-01~2014-03-01
        td 导师上传职位信息
      tr
        td 实习申报
        td 2014-03-02~2014-03-10
        td 学生选报职位（第一志愿）
      tr
        td 导师确认
        td 2014-03-11~2014-03-15
        td 导师确认职位选定
      tr
        td 导师调剂
        td 2014-03-16~2014-03-18
        td 导师从未确认学生中选取部分学生进入空缺职位
      tr
        td 正式实习
        td 2014-04-01~2014-09-18
        td 
          | 第一周，学生上传“企业实习确认表格”
          br
          | 接下来每周，学生上传“企业实习周报”
          br
          | 最后一周，学生上传“企业实习总结表”
      tr
        td 导师评分
        td 2014-09-20~2014-10-01
        td 导师根据学生上传的资料给出实习成绩
      tr
        td 实习结束
        td 2014-10-01
        td 实习成绩公开查询
