// For Professor - Phase 1
.white-well
  form.form-horizontal.clearfix
    fieldset
      .legend 基本信息
      .control-group
        label.control-label 职位名称
        .controls
          input#job-title(type="text", placeholder="核心用户产品调研师")
      .control-group
        label.control-label 所在部门
        .controls
          input(type="text", placeholder="社会影响事业部")
      .control-group
        label.control-label 招工人数
        .controls
          input#job-need.input-mini(type="text", placeholder="1")
      .control-group
        label.control-label 薪资水平
        .controls
          .btn-group(data-toggle="buttons-radio")
            button.btn(type="button") &lt;1000
            button.btn(type="button") 1000-2000
            button.btn(type="button").active 2000-3000
            button.btn(type="button") &gt;3000
      .control-group
        label.control-label 描述
        .controls
          textarea.input-xlarge(rows="6")
    fieldset
      .legend 企业导师信息
      .control-group
        label.control-label 姓名
        .controls
          input(type="text", placeholder="路人甲")
      .control-group
        label.control-label 性别
        .controls
          .btn-group(data-toggle="buttons-radio")
            button.btn(type="button") 先生
            button.btn(type="button") 女士
      .control-group
        label.control-label 职务
        .controls
          input(type="text", placeholder="首席前端攻城师")
      .control-group
        label.control-label 电话
        .controls
          input(type="text", placeholder="010-62289929")
      .control-group
        label.control-label E-mail
        .controls
          input(type="email", placeholder="foo@bar.com")
    fieldset
      .legend 公司信息
      .control-group
        label.control-label 公司名称
        .controls
          input#company-name(type="text", placeholder="大公司")
      .control-group
        label.control-label 公司首页
        .controls
          input(type="text", placeholder="http://foo.bar")
    .btn-toolbars.pull-right
      button.btn.btn-primary.btn-large(type="submit") 提交
      | &nbsp;
      button.btn.btn-large(type="submit") 关闭
