@import "color";

::selection {
    background: #FF5E99;
    color: #fff;
    text-shadow: none;
}

html,
body {
    font-family: Tahoma, Helvetica, Arial, DejaVu Sans, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: @body-background;
}

