#dashboard.row-fluid
  .span4.white-well
    .announce.alert.alert-success
      h4 系统公告
      | 暂无系统公告
    .profile.row-fluid
      .photo.span6
        img.img-polaroid(src="#{photo}")
      .profile-text.span6
        div(data-label="姓名") XXX
        div(data-label="编号") 100320201
        div(data-label="电话") 010-1234567
    .panel
    
  .span8.white-well

