extends bootstrap
append head
  title 北京邮电大学软件学院实习管理系统
append style
  mixin stylesheet("style/ui.css")
  mixin stylesheet("style/framework.css")
  mixin stylesheet("style/login.css")
  mixin stylesheet("style/dashboard.css")
append script
  mixin javascript("js/loader.js")
block content
  #wrapper
    #content.container
    #footer
      .container
        .row-fluid
          .banner.span8
          .copyright.span4
            p 
              | Powered by 
              a(href="http://jquery.com") jQuery 
              | and 
              a(href="http://twitter.github.com/bootstrap/") Bootstrap 
              br
              | Copyright &copy; shinohane 2013
