#login.white-well
  .boxtitle
    用户登录
  form
    .username
      input(type="text", placeholder="用户名")
    .password
      input(type="password", placeholder="密码")
    .action
      button.btn 注册
      button.btn.btn-primary(type="submit") 登录

