#schedule.white-well.clearfix
  .offset1.span3
    h4 系统进度
  .span8
    .btn-group(data-toggle="buttons-radio")
      button.btn(data-label=". 职位准备").btn-success
        | 1
      button.btn(data-label=". 实习申报").btn-primary
        | 2
      button.btn(data-label=". 导师确认")
        | 3
      button.btn(data-label=". 导师调剂")
        | 4
      button.btn(data-label=". 正式实习")
        | 5
      button.btn(data-label=". 导师评分")
        | 6
      button.btn(data-label=". 实习结束")
        | 7
