h2 浏览器兼容性提示
p 
  | 检测到您当前使用的是
  b IE8以下
  | 版本的浏览器核心
p 
  | 如果您使用的是多核心浏览器访问本站点，请切换到
  b 高(极)速模式
p
  | IE6、7的Windows XP用户可以
  a(href="http://www.microsoft.com/en-us/download/details.aspx?id=43") 点击这里
  | 更新您的IE浏览器
p 
  | 为达到良好的用户交互体验，我们推荐您使用
  a(href="http://www.mozilla.org/firefox/") Mozilla Firefox
  | 或者
  a(href="http://www.google.com/chrome") Google Chrome 
  | 浏览器访问本页面
p 
  | 您还可以在不更换以及更新现有IE浏览器的情况下通过安装
  a(href="http://www.google.com/chromeframe") Google Frame 
  | 插件来提升您浏览器的性能以及体验
